In [33]:
import pandas as pd
import numpy as np
import cbsodata

data_netherlands = pd.DataFrame(cbsodata.get_meta('37201', 'TypedDataSet'))
#37201, 03747
data_netherlands

,ID,RegioS,Perioden,TotaalLevendGeborenKinderen_1,LevendGeborenKinderenRelatief_2,LevendGeborenJongens_3,LevendGeborenMeisjes_4,AlgemeenVruchtbaarheidscijfer_5,GestandaardiseerdVruchtbaarheidscijfer_6,GemiddeldKindertalPerVrouw_7,...,k_40Tot45Jaar_14,k_45JaarOfOuder_15,TotaalLevendGeborenKinderen_16,k_1eKind_17,k_2eKind_18,k_3eKind_19,k_4eOfVolgendeKinderen_20,TotaalLevendGeborenKinderen_21,MoederGehuwd_22,MoederNietGehuwd_23
0,0,NL01,1988JJ00,186647.0,12.6,95474.0,91173.0,47.4,47.4,1.55,...,2392.0,214.0,186647.0,83209.0,65216.0,25601.0,12621.0,186647.0,167696.0,18951.0
1,1,NL01,1989JJ00,188979.0,12.7,96300.0,92679.0,47.8,47.8,1.55,...,2618.0,233.0,188979.0,83684.0,66292.0,26247.0,12756.0,188979.0,168802.0,20177.0
2,2,NL01,1990JJ00,197965.0,13.2,101561.0,96404.0,49.9,49.9,1.62,...,2778.0,265.0,197965.0,89237.0,68193.0,27474.0,13061.0,197965.0,175440.0,22525.0
3,3,NL01,1991JJ00,198665.0,13.2,101581.0,97084.0,49.8,49.8,1.61,...,3045.0,249.0,198665.0,90011.0,68892.0,26965.0,12797.0,198665.0,174840.0,23825.0
4,4,NL01,1992JJ00,196734.0,13.0,100862.0,95872.0,49.1,49.1,1.59,...,3273.0,245.0,196734.0,87147.0,69696.0,27007.0,12884.0,196734.0,172251.0,24483.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31180,31180,GM0997,2018JJ00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31181,31181,GM0997,2019JJ00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31182,31182,GM0997,2020JJ00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31183,31183,GM0997,2021JJ00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31184,31184,GM0997,2022JJ00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data_nl = data_netherlands[['ID', 'RegioS','Perioden','LevendGeborenKinderenRelatief_2']]
#data_nl = data_netherlands[['ID', 'RegioS','Perioden','MannenEnVrouwen_4']]

#data_nl = data_nl[data_nl['Perioden'] == '2020JJ00']
data_nl['Perioden'] = data_nl['Perioden'].str.extract(r'(\d{4})')

#data_nl.replace(0, np.nan, inplace=True)
#data_nl = data_nl.dropna()

data_nl

C:\Users\juliu\AppData\Local\Temp\ipykernel_19260\2941901271.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_nl['Perioden'] = data_nl['Perioden'].str.extract(r'(\d{4})')

          ID  RegioS Perioden  LevendGeborenKinderenRelatief_2
0          0  NL01       1988                             12.6
1          1  NL01       1989                             12.7
2          2  NL01       1990                             13.2
3          3  NL01       1991                             13.2
4          4  NL01       1992                             13.0
...      ...     ...      ...                              ...
31180  31180  GM0997     2018                              NaN
31181  31181  GM0997     2019                              NaN
31182  31182  GM0997     2020                              NaN
31183  31183  GM0997     2021                              NaN
31184  31184  GM0997     2022                              NaN

[31185 rows x 4 columns]

In [38]:
# Pivot-Tabelle erstellen
data_nl_years = data_nl.pivot(index='RegioS', columns='Perioden', values='LevendGeborenKinderenRelatief_2')

data_nl_years.reset_index(inplace=True)
data_nl_years.columns.name = None

#data_nl_years.to_csv("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/data_nl_years_nanfree.csv")
data_nl_years.to_excel("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/data_nl_years_.xlsx", index=False)
data_nl_years

,RegioS,1988,1989,1990,1991,1992,1993,1994,1995,1996,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,CR01,10.9,10.8,11.2,11.3,10.6,10.7,11.4,10.7,10.6,...,8.5,8.4,8.2,8.8,7.9,7.6,7.9,7.6,7.9,8.2
1,CR02,11.8,11.4,12.7,11.9,11.4,11.6,11.5,12.0,11.5,...,8.0,8.4,7.8,9.0,8.2,7.4,8.3,7.5,9.1,7.8
2,CR03,11.5,11.6,12.2,12.0,11.4,11.4,11.7,11.5,11.1,...,9.5,9.7,9.6,9.5,9.1,8.8,8.9,8.8,9.4,8.5
3,CR04,12.5,12.7,12.5,12.9,12.8,12.9,12.3,12.4,12.2,...,9.9,10.0,9.5,9.6,9.6,9.2,9.3,9.0,10.0,9.0
4,CR05,12.8,13.3,12.8,13.7,13.2,12.5,12.5,12.7,12.4,...,9.9,9.0,8.8,9.4,8.7,8.6,9.3,9.1,9.4,8.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,PV27,12.4,12.6,13.1,13.1,13.0,12.9,12.8,12.4,12.3,...,10.7,10.9,10.6,10.7,10.4,10.3,10.2,10.1,10.7,9.7
887,PV28,13.1,13.1,13.6,13.6,13.2,13.0,12.8,12.3,12.2,...,11.0,11.4,10.9,11.0,10.8,10.6,10.6,10.4,10.8,10.0
888,PV29,11.8,11.9,12.6,12.6,12.6,12.1,12.4,11.9,11.9,...,9.2,9.6,9.5,9.1,9.0,8.8,8.9,8.9,9.3,8.9
889,PV30,12.4,12.7,13.2,13.1,13.1,12.7,12.8,12.4,12.2,...,9.5,9.8,9.4,9.6,9.3,9.3,9.2,9.1,9.9,9.1
890,PV31,11.8,11.7,12.4,12.1,11.7,11.5,11.3,11.0,10.7,...,8.0,7.9,7.8,8.1,7.9,7.8,7.8,7.7,8.4,7.9