In [54]:
import pandas as pd
import cbsodata

In [87]:
#data = pd.read_csv("test_csvs/indicatos_nl.csv")
data = pd.read_excel("test_csvs/indicatos_nl.xlsx")
data.head(10)

,category_nl,name_nl,source_nl,source_id_nl,Regional_Source_id_nl
0,"Geboorte; kerncijfers vruchtbaarheid, leeftijd...",Gemiddeld kindertal per vrouw,CBS Open data Statline,37201,LevendGeborenKinderenRelatief_2
1,"Geboorte; kerncijfers vruchtbaarheid, leeftijd...",Levend geboren kinderen: leeftijd moeder: jong...,CBS Open data Statline,37201,JongerDan20Jaar_9
2,"Huishoudens; kindertal, leeftijdklasse kind, r...",Totaal huishoudens met kinderen,CBS Open data Statline,71487ned,TotaalHuishoudensMetKinderen_1
3,"Bevolkingsontwikkeling; levende geborenen, ove...",Bevolking op 1 janruar,CBS Open data Statline,37259ned,BevolkingOp1Januari_1
4,"Bevolkingsontwikkeling; levende geborenen, ove...",Bevolkingsdichtheid,CBS Open data Statline,37259ned,Bevolkingsdichtheid_2
5,Arbeidsdeelname; regionale indeling 2023,Werkzame beroepsbevolking,CBS Open data Statline,85826NED,WerkzameBeroepsbevolking_3
6,Arbeidsdeelname; regionale indeling 2024,Beroepsbevolking,CBS Open data Statline,85826NED,Beroepsbevolking_2
7,Arbeidsdeelname,Arbeidsdeelname; regionale indeling 2023,CBS Open data Statline,85826NED,WerklozeBeroepsbevolking_12

In [96]:


for row in data.itertuples():
    
    name = row.Regional_Source_id_nl
    wanted_columns = ["RegioS", name, "Perioden"]
    currentData = pd.DataFrame(cbsodata.get_meta(row.source_id_nl, 'TypedDataSet'))
    currentData = currentData[wanted_columns]
    print(row.Index)
    fileName = f"C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/test_csvs/indicator_{name}.csv"
    currentData.to_csv(fileName, index=False)

0
1
2
3
4
5
6
7

In [100]:
currentData.head()

,ID,Geslacht,RegioS,Perioden,BevolkingOp1Januari_1,Bevolkingsdichtheid_2,LevendGeborenKinderen_3,LevendGeborenKinderenRelatief_4,Overledenen_5,OverledenenRelatief_6,...,UitAndereGemeente_11,TotaalVertrekInclusiefCorrecties_12,TotaalVertrekInclusiefCoRelatief_13,EmigratieInclusiefAdministratieveC_14,SaldoAdministratieveCorrecties_15,NaarAndereGemeente_16,VestigingsoverschotInclusiefCorrecties_17,TotaleGroei_18,TotaleGroeiRelatief_19,BevolkingOp31December_20
0,0,T001038,NL01,1942JJ00,9007722.0,NaN,189975.0,21.0,86040.0,9.5,...,NaN,489617.0,54.1,NaN,NaN,NaN,-35407.0,68528.0,7.6,9076250.0
1,1,T001038,NL01,1943JJ00,9076250.0,NaN,209379.0,23.0,91438.0,10.0,...,NaN,559446.0,61.5,NaN,NaN,NaN,-65621.0,52320.0,5.8,9128570.0
2,2,T001038,NL01,1944JJ00,9128570.0,NaN,219946.0,24.0,108087.0,11.8,...,NaN,433205.0,47.2,NaN,NaN,NaN,-20135.0,91724.0,10.0,9220294.0
3,3,T001038,NL01,1945JJ00,9220294.0,NaN,209607.0,22.6,141398.0,15.3,...,NaN,655380.0,70.8,NaN,NaN,NaN,15798.0,84007.0,9.1,9304301.0
4,4,T001038,NL01,1946JJ00,9304301.0,NaN,284456.0,30.2,80151.0,8.5,...,NaN,695215.0,73.8,NaN,NaN,NaN,34053.0,238358.0,25.6,9542659.0