In [1]:

import pandas as pd
import numpy as np

In [26]:

data = pd.read_csv("model_translator/translated_data.csv", index_col="Unnamed: 0")
data.head()

,select,category,category_de,category_nl,name,name_de,name_nl,source_de,source_id_de,source_nl,source_id_nl,Zeitbezug_min,Zeitbezug_max,Gemeinden,Gemeindeverbände,Kreise
0,x,Absolute numbers,Absolutzahlen,NaN,Unemployed,Arbeitslose,NaN,Inkar,2176,NaN,NaN,1995,2020,NaN,X,X
1,x,Absolute numbers,Absolutzahlen,NaN,Population (with correction VZ 1987/Zensus 2011),Bevölkerung (mit Korrektur VZ 1987/Zensus 2011),NaN,Inkar,10806,NaN,NaN,1995,2020,NaN,X,X
2,NaN,Absolute numbers,Absolutzahlen,NaN,Total population,Bevölkerung gesamt,NaN,Inkar,12586,NaN,NaN,1995,2020,NaN,X,X
3,NaN,Absolute numbers,Absolutzahlen,NaN,Population Male,Bevölkerung männlich,NaN,Inkar,12747,NaN,NaN,1995,2020,NaN,X,X
4,NaN,Absolute numbers,Absolutzahlen,NaN,Population female,Bevölkerung weiblich,NaN,Inkar,12746,NaN,NaN,1995,2020,NaN,X,X

In [28]:
indicators = pd.DataFrame(columns=['category', 'name', 'source', 'source_id'])

for index in data.index:
    if data['select'][index] == "x":
        print(index)
        category_value = data['category_de'][index]
        indicator_name = data['name_de'][index]
        source_value = data['source_de'][index]
        source_id_value = int(data['source_id_de'][index])
        indicators.loc[len(indicators)] = {'category': category_value, 'name': indicator_name, 'source': source_value, 'source_id':source_id_value}


indicators.reset_index(drop=True, inplace=True)
indicators.to_csv("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/indicators_new.csv", index=False)

0
1

In [8]:
inkar = pd.read_csv("../data/inkar_2022.csv",sep=";",decimal=",",dtype={'Kennziffer':str,'Kennziffer_EU':str,'Name':str}, low_memory=False)
inkar.head()

,Bereich,ID,Indikator,Raumbezug,Kennziffer,Name,Zeitbezug,Wert
0,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1995,10494.0
1,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1996,11921.0
2,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1997,13213.0
3,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1998,13301.0
4,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1999,12048.0

In [23]:
#raumbezug_selection = ["Kreise","Gemeinden", "Bund", "Bundesländer", "Gemeindeverbände"]
raumbezug_selection = ["Bund"]
inkar = inkar[inkar['Raumbezug'].isin(raumbezug_selection)]

In [35]:
filtered_inkar = inkar[(inkar['Bereich'].isin(indicators['category'])) & (inkar['ID'].isin(indicators['source_id'])) & (inkar['Indikator'].isin(indicators['name']))]
filtered_inkar.reset_index(drop=True, inplace=True)
filtered_inkar.head()
#filtered_inkar.to_csv("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/filtered_inkar2.csv", index=False)

,Bereich,ID,Indikator,Raumbezug,Kennziffer,Name,Zeitbezug,Wert
0,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1995,3632966.0
1,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1996,3980747.0
2,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1997,4384102.0
3,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1998,4280039.0
4,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1999,4100377.0

In [40]:
temp = filtered_inkar['Indikator'].unique()
temp

array(['Arbeitslose', 'Bevölkerung (mit Korrektur VZ 1987/Zensus 2011)'],
      dtype=object)

In [43]:
print(filtered_inkar['Bereich'].unique())
indicators_csv = filtered_inkar['Indikator'].unique()
wanted_columns = ["Kennziffer", "Wert", "Zeitbezug"]
for indikator in indicators_csv:
    currentData = filtered_inkar[filtered_inkar['Indikator'] == indikator]
    currentData = currentData[wanted_columns]
    indikator = indikator.split(" ")[0];
    fileName = f"C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/indicator_{indikator}.csv"
    currentData.to_csv(fileName, index=False)

['Absolutzahlen']